
 

section {
	border: 1px solid green;
	width: 90%;
	//margin-top: 50px;
	margin-top: 60px;
	float: left; 
	background-color: yellow;
	//padding-top: 50px;
	text-align: center;
	left: 7%;
	position: absolute; 
}

article {
	//padding-top: 100px;
	//float: right;
	//padding-left: 320px;
	margin-top: 1px;
	text-align: center; 
	width: 90%;
	border: 1px solid;
	background-color: #D3D3D3;
	position: absolute; 
	left: 7%;
	top: 180px;
	
}


footer{
        position:fixed;
        width: 100%;
        padding-bottom: 0px;
        padding-top:0px;
        bottom: 0%;
        background-color: #814545;;
        height: 50px;
		left: 0;
      }
	  
	  
/* sidebar styled in aside, see html to see it is an aside tag with an ID */ 
 #sidebar{
       height: 100%;
        width: 5%;
        position: fixed;
       // top: 90px;
        left: 0;
        background-color: #814545;
        padding-top: 0px;
		
      }
      
  

 /* topbar styled in nav */
 .topbar {
        //font-size: 18px; 
        text-align: center;
        background-color: #814545;
        color:#ffffff;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        padding-top: 0px;
		margin-bottom: 1px;
		margin-top: 1px:
      }
	  
	 
  
  
   #parafooter{
        text-align:center;
        font-size:14px;
    }
	

	
